.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: #5ab1bb;
  color: #fff;
}

.pagination .active {
  background-color: #5ab1bb;
  color: #fff;
}

@media only screen and (min-width: 450px) {
  .pagination .page-num {
    padding: 8px 15px;
  }
}
